.aws-btn {
    --button-default-height: 40px;
    --button-default-font-size: 13px;
    --button-default-border-radius: 6px;
    --button-horizontal-padding: 10px;
    --button-raise-level: 3px;
    --button-hover-pressure: 0;
    --transform-speed: 0.15s;
    --button-primary-color: #ffffff;
    --button-primary-color-dark: #a8a8a8;
    --button-primary-color-light: #000000;
    --button-primary-color-hover: #e6e6e6;
    --button-primary-color-active: #c7c7c7;
    --button-primary-border: none;
    --button-secondary-color: #f2f6f9;
    --button-secondary-color-dark: #1360a4;
    --button-secondary-color-light: #1e88e5;
    --button-secondary-color-hover: #e1eaf1;
    --button-secondary-color-active: #cfdee9;
    --button-secondary-border: 2px solid #1e88e5;
    --button-anchor-color: #0e4f88;
    --button-anchor-color-dark: #072743;
    --button-anchor-color-light: #ffffff;
    --button-anchor-color-hover: #0d4a7f;
    --button-anchor-color-active: #0c4271;
    --button-anchor-border: none;
    --button-danger-color: #c42e2e;
    --button-danger-color-dark: #861f1f;
    --button-danger-color-light: #ffffff;
    --button-danger-color-hover: #bc2c2c;
    --button-danger-color-active: #af2929;
    --button-danger-border: none;
  }

@media screen and (max-width: 768px) {
  .aws-btn{
    --button-default-height: 40px;
    --button-default-font-size: 13px;
    --button-default-border-radius: 6px;
    --button-horizontal-padding: 10px;
  }

}